[Unit]
Description=SignalK LithiumSmart bridge
Requires=ble-sk.socket

[Service]
Type=simple
EnvironmentFile=/etc/default/smart-lithium-ble-sk
ExecStart=/usr/local/bin/smart_lithium_ble_sk signalk $SELF $DEVICES
StandardInput=null
StandardOutput=socket
StandardError=journal
TimeoutStopSec=5
RuntimeMaxSec=86400
DynamicUser=true
User=ble-sk
Group=bluetooth
IgnoreSIGPIPE=false

[Install]
WantedBy=multi-user.target
